$primary-color: #08a3f0;
$secondary-color: #040404;
$terciary-color: #5c5c5c;
$font-color: #FCE4D8;
$titles-color: #06486b;

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'EXO', sans-serif;
    padding: 0;
}

.container {
    width: 100%;
    display: inline-block;
}



/*@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color){
    @if(lightness($color) > 40%){
        @return #5D576B;
    } @else {
        @return #E6EBE0;
    }
}*/