.nosotros {
    display: flex;
    background: linear-gradient(to top, rgba($secondary-color, 0.9),
            (rgba($secondary-color, 0.8)));
    width: 100%;
   // height: 100vh;
    color: $font-color;
    &__descripcion {
        width: 50%;  
        padding: 3rem;
    }
    &__clientes {
        width: 50%; 
        padding: 3rem; 
        ul{margin-bottom: 2rem; }
    
    }
}